div
{
    border: 1px solid black;
}

.topGUIPlayer
{
    grid-area: 1 / 1 / span 110 / span 90;
}

.topGUIEnemy
{
    grid-area: 1 / 111 / span 110 / span 90;
}

.topGUI
{
    text-align: center;
}

/* .units
{
    display: inline-block;
    width: 22%;
    height: 80%;
    margin: 1%;
} */

/* .pSlot1
{
    grid-area: 10 / 67 / span 70 / span 20;
}

.pSlot2
{
    grid-area: 10 / 46 / span 70 / span 20;
}

.pSlot3
{
    grid-area: 10 / 25 / span 70 / span 20;
}

.pSlot4
{
    grid-area: 10 / 4 / span 70 / span 20;
}

.infoBar
{
    display: inline-block;
    width: 22%;
    height: 12%;
    margin: 1%;
    margin-top: 0;
    overflow: visible;
    text-align: left;
}

.hpBarP1
{
    border: 1px solid red;
    grid-area: 82 / 67 / span 4 / span 20;
}

.energyBarP1
{
    border: 1px solid rgb(255, 194, 27);
    grid-area: 88 / 67 / span 4 / span 20;
}

.status1P1
{
    border: 1px solid blue;
    grid-area: 94 / 67 / span 8 / span 4;
}

.status2P1
{
    border: 1px solid blue;
    grid-area: 94 / 72 / span 8 / span 4;
}

.status3P1
{
    border: 1px solid blue;
    grid-area: 94 / 77 / span 8 / span 4;
}

.status4P1
{
    border: 1px solid blue;
    grid-area: 94 / 82 / span 8 / span 4;
}

.statusBar
{
    border: 1px solid blue;
    display: inline-block;
    width: 15%;
    padding-top: 15%;
    margin-left: 1.25%;
} */

.bottomGUI
{
    grid-area: 111 / 1 / span 90 / span 200;
    /* background-color: grey; */
}

.hand
{
    grid-area: 121 / 41 / span 80 / span 120;
    text-align: center;
}

.card
{
    width: 13%;
    height: 70%;
    /* margin: auto; */
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 5%;
}

.cardPlayed
{
    grid-area: 114 / 4 / span 70 / span 20;
}

.cardEnemy
{
    grid-area: 114 / 176 / span 70 / span 20;
}

.b2GUI, .b3GUI
{
    display: none;
}

.statBox
{
    grid-area: 121 / 11 / span 70 / span 80;
    padding-top: 13%;
    padding-left: 5%;
    padding-right: 5%;
}

.testBtn
{
    grid-area: 5 / 96 / span 10 / span 10 ;
}

.testBtn2
{
    grid-area: 16 / 96 / span 10 / span 10;
}